
// using this for styling the home section

.home-background{
	/*background-image:url('http://lorempixel.com/1500/768/nature/');*/
}


.home-section-padding{
	 padding: 0px 0px;
  	text-align: center;
  overflow-:hidden;
}



.header-home{
	font-weight:300;
	font-size: 50px;
	color:#fff;
}

.drop-shadow-bottom{
	
-webkit-box-shadow: inset -6px -19px 55px 8px rgba(0,0,0,0.75);
-moz-box-shadow: inset -6px -19px 55px 8px rgba(0,0,0,0.75);
box-shadow: inset -6px -19px 55px 8px rgba(0,0,0,0.75);

}
