
$icon-font-path: '../fonts/';

@function font-path($path){
	@return$path;
}
@import "imports/variables";
@import "imports/mixins";
@import "imports/bootstrap";
@import "imports/animations";
@import "imports/home-styles";
@import "imports/work-styles";
@import "imports/contact-styles";
@import "imports/skills-styles";
@import "imports/navigation";



body {
	
  font-family:"Roboto Condensed";
  padding-top: 50px;
}

.starter-template {
  padding: 100px 15px;
  text-align: center;
  overflow-:hidden;
}


p{
	text-align:left;
}

#about {

	

}



#work {
	

}



#skills {
	
}

.skills-bg-color{
	
}

#contact {
	

}

.header{
	
	font-size:40px;
	font-weight:700;
	text-transform:uppercase;
	
	@include text-header-style(white);

}


.container-fluid{
	padding-left:0;
	padding-right:0;
}


.active-link{
	color:red!important;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

